<p id="notice"><%= notice %></p>

<p>
  <strong>Widget:</strong>
  <%= @menu.widget %>
</p>

<p>
  <strong>Image:</strong>
  <%= @menu.image %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
