<%= simple_form_for(@restaurant) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <div class="#">
         <div class="file-field input-field gallery_picture">

        <div class="btn">

          <span>Upload file</span>
          <%= f.input_field :image %>
          </div>
        <input class="file-path validate" type="text"/>
        </div>

    </div>
    <%= f.input :address %>
    <%= f.input :lat %>
    <%= f.input :lng %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
