<h1>All Restaurants</h1>

  <div class="row">
    <% @restaurants.each do |restaurant| %>
      <%= link_to restaurant do %>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="<%= restaurant.image.url %>">
              <span class="card-title"><%= restaurant.name %></span>
            </div>
            <div class="card-action">
              <%= link_to 'Edit', edit_restaurant_path(restaurant) %>
              <%= link_to 'Delete', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
         </div>

      <% end %>
    <% end %>
  </div>

<%= link_to 'New Restaurant', new_restaurant_path,class: "btn ripple-effect" %>
