<header>
  <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle hide-on-large-only"><i class="mdi-navigation-menu"></i></a></div>
  <ul id="nav-mobile" class="side-nav fixed">
    <li class="logo"><a id="logo-container" href="http://materializecss.com/" class="brand-logo">
      <h3>SPOONE</h3></a>
    </li>
    <li class="bold"><a href="/restaurants/<%= @restaurant.id %>/menus" class="waves-effect waves-teal">MENU</a></li>
    <li class="bold"><a href="/restaurants/<%= @restaurant.id %>/reviews" class="waves-effect waves-teal">REVIEWS</a></li>
    <li class="bold"><a href="/restaurants/<%= @restaurant.id %>/texts" class="waves-effect waves-teal">TEXTS</a></li>
  </ul>
  </header>
  <main>
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <div class='row center'>
        <h1 class="header center-on-small-only"><%= @restaurant.name %></h1>
            <img id="responsive-img" src="<%= @restaurant.image_url %>" style="max-height: 300px;">
        </div>
        <br>

      </div>
    </div>
    <div class="container">
      <div class="section">

        <div class="row">
          <% @restaurant.widgets.each do |x| %>
          <div class="col m12">
            <iframe frameborder="0" marginheight="1" marginwidth="1" scrolling="no" frameborder="0" allowtransparency="true" height="300px" style="width:100%;overflow:hidden" src="<%= x.short_url %>"></iframe>
          </div>
          <% end %>
        </div>

      </div>

  </main>
