<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://bulma.io/css/main.css">
</head>

<body>

<section class="hero is-fullheight">
    <div class="hero-content" id="hero_content_id">
<span style="text-align:left; font-size:1.75em;">Reviews</span>
<hr style="margin-top:0px;">
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="<%= @r1.user.image.url %>" style="border-radius:32px;">
          </p>
        </figure>
        <div class="media-content blur">
          <div class="content">
            <p>
              <strong><%= @r1.user.name %></strong>
              <br>
              <%= @r1.text %>
            </p>
          </div>
        </div>
      </article>

      <hr />
<!--
      <article class="media" style="opacity:0.8">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="<%= @r2.user.image.url %>">
          </p>
        </figure>
        <div class="media-content blur">
          <div class="content">
            <p>
              <strong><%= @r2.user.name %></strong>
              <br>
              <%= @r2.text %>
            </p>
          </div>
        </div>
      </article>
-->
    </div>
</section>

  <style type="text/css">
    @media screen and (max-width: 979px) {
      .title.is-2 .icon.is-large {
        display: none;
      }
    }

    .title.is-2 {
      position: relative;
    }

    .title.is-2 a {
      color: #222324;
    }

    .title.is-2 a:hover {
      color: #1fc8db;
    }

    .title.is-2 .icon.is-large {
      left: -72px;
      position: absolute;
      top: -1px;
    }

    .hero .title.is-2 a {
      color: white;
    }

    .hero .title.is-2 a:hover {
      color: white;
    }

    #hero_content_id {
        padding: 5%;
        padding-top: 2%;
    }

    .blur {
   color: transparent;
   text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
  </style>

  </body>
</html>
